@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

//Font-weights
$md : 18.75rem;
$l: 25rem;
$xl : 37.5rem;
//Text
.tx-left{
    text-align:start;
}
.tx-right{
    text-align:end;
}
.tx-center{
    text-align:center;
}